# Backend environment
FRONTEND_URL=
DATABASE_URL=
JWT_SECRET=
PORT=

# AWS Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

# Machine Learning Service
ML_SERVICE_URL=

# Nodemailer Configuration
EMAIL_USER=
EMAIL_PASS=